# Vercel
.vercel/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Environment
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db
ehthumbs.db

# Editors
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
